@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;    
}
header {
    background-color: black;
    color: white;
    color: white;
    padding: 10px 20px; /* Agregado padding horizontal */
    display: flex; /* Usar flexbox para alinear elementos */
}
h1 {
    margin: 0; /* Eliminar margen por defecto */
}
/*navbar*/
nav {
    background-color: black;
    font-weight: bold;
}
.navbar{
    letter-spacing: 1.5px;
}
.navbar:hover {
    color: rgb(47, 47, 223); /* Cambio de color al pasar el cursor */
    font-weight: bolder;
}
/*First banner*/
.card-banner{
    width: 40%; 
    margin-top: 20%; 
    margin-left: 10%; 
    letter-spacing: 1.5px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    line-height: 1rem;
    font-size: 20rem;
}
spam{
    color: rgb(25, 25, 207);
}
.imagen-asesor{
    width: 100%;
    height: 42rem;
    object-fit: contain;
    object-position: bottom;
    background-position: right;
    background-attachment: fixed;
}
/*http://img1.picmix.com/output/stamp/normal/7/3/5/1/541537_4eef4.gif
https://i.pinimg.com/originals/ee/17/cb/ee17cb01b02bde608e84dcac1595f860.gif
https://i.pinimg.com/originals/31/bd/da/31bdda3a24e488e603959ec8f864c0cd.gif*/
/*Tittle*/
.second-nav {
    background: radial-gradient(circle at 50%, rgba(255,255,255,0) 30%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%), url("https://i.pinimg.com/originals/ee/17/cb/ee17cb01b02bde608e84dcac1595f860.gif");
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    letter-spacing: 15px;
}

/*carousel de videos*/
#carouselExampleDark {
    width: 700px; /* Cambia el tamaño máximo del carrusel aquí */
    height: 80vh; /* Establece la altura deseada del carrusel */
    margin: 10px auto; /* Centra el carrusel en el medio */
    
}
/* Estilos para los iframes de video */
.carousel-inner iframe {
    width: 300vh;
    height: 70vh;
}
.logo {
    display: flex; /* Para alinear el logo y el texto verticalmente*/ 
    align-items: flex-start;/*Alineación del logo en la parte superior*/
}
.logo {
    display: flex; /* Para alinear el logo y el texto verticalmente */
    align-items: flex-start; /* Alineación del logo en la parte superior */
}
.logo h1 {
    margin: 0;
    margin-left: 10px; /* Espacio entre la imagen y el texto del logo */
}
.container1 {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 15px;
    background-image: url('');
    background-repeat:no-repeat;    
}
.global {
    text-align: center;
    margin-top: 3.9rem;
}
.dis-sto .global {
    margin-top: 6.9rem;
}
.global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
}
.container-carousel-tarjetas{
    display: grid;
    grid-template-rows: 1fr;
    gap: 5px; /* Espacio entre las columnas */
    padding: 10px;
    justify-items: center;
    justify-content: center;
}

/**//* Estilos para el contenedor del carrusel */
#carousel-container {
    max-width: 700px; /* Cambia el tamaño máximo del carrusel aquí */
    max-height:200vh; /* Establece la altura deseada del carrusel */
    margin: 10px auto; /* Centra el carrusel en el medio */
}

/* Estilos para las tarjetas de video */
.tarjetas-card-container{
    display: flex;
    flex-direction: row; /* Dividir el container en dos columnas */
    justify-content:center;
    gap: 20px; /* Espacio entre las columnas */
    padding: 40px;
    margin: 20px auto;
}
.video-card2 {
    height: 19rem;
    margin: 1rem;
    background-color: #0e2a7fbe;
    padding: 1rem;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: -1px -1px 0px 0 rgb(36, 220, 234), 10px 10px 15px 0px rgb(86, 163, 245);
}
.custom-width {
    width: 300px; /* Puedes ajustar el ancho como desees */
    margin: 0 auto; /* Esto centra la tarjeta horizontalmente en su contenedor */
}

.second-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
/* Estilos para el texto en las tarjetas */
.video-card2 p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
span{
    font-weight: bold;
    font-size: 30px;
}

#accordionFlushExample{
    border-color: #1843c1;
    border-width: 0.5px;
    border-style: dashed;
    font-family: "Georgia", serif; /* Cambiar a la fuente deseada */
    font-size: 118%; /* Cambiar al tamaño deseado */
    font-weight: bold;
}
#accordionFlushfont{
    font-family: "Georgia", serif; /* Cambiar a la fuente deseada */
    font-size: 50%; /* Cambiar al tamaño deseado */
    font-weight: bold;
}
.accordion-item{
    border-color: #1843c1;
    border-width: 1px;
    border-style: dotted;
    
}
  /************************************************/
footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 0;
  }
  .social-icons {
    margin-top: 10px;
  }
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  .social-icon img {
    width: 32px;
    height: 32px;
  }
  .email-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .email-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  .register-button {
    padding: 8px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  .register-button:hover {
    background-color: #2980b9;
  }

  @media (max-width: 768px) {
    .accordion-button {
        font-size: 16px;
        /* Otros estilos específicos para pantallas pequeñas */
    }
}
  


